.train-dots
  fill: $color-tfjs

.tooltip
  color: white
  background-color: black
  padding: 8px
  border-radius: 4px
  font-family: 'Alata', sans-serif

  &.prediction
    background-color: steelblue

  &.line
    background-color: forestgreen
